<!DOCTYPE html>
<html>
<head>
	{{{ charset }}}
	<title>{{{ cakeDescription }}}: {{{ title_for_layout }}}</title>
	{{{ icon }}}
	{{{ cssCakeGeneric }}}
	{{{ meta }}}
	{{{ css }}}
	{{{ script }}}
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>{{{ cakeLink }}}</h1>
		</div>
		<div id="content">
			{{{ sessionFlash }}}
			{{{ content }}}
		</div>
		<div id="footer">
			{{{ cakeImage }}}
		</div>
	</div>
	{{{ sqlDump }}}
</body>
</html>
